@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
    --font-space: 'Space Mono', monospace;
    --font-bebas: 'Bebas Neue', cursive;
    --font-news: 'Newsreader', serif;

    --color-ink: #1a1410;
    --color-muted: #8a7f72;
    /* #f2ede4 */
    --color-paper: #F3E8D9;
    --color-red: #d63c2f;
    --color-yellow: #f5c842;

    --grid-cols-custom: 1fr auto;

    --items-gridStart: start;
}